<html>
<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>The Magic Wiki Templator</title>

    {% style "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" %}
    {% style "/css/screen.css" %}
  </head>
  <body>
    <nav class="ui inverted menu">
      <div class="ui container">
        <a href="/" class="item">Home</a>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js" type="text/javascript" crossorigin="anonymous"></script>
    <script type="text/javascript">
     $('.tabular.menu .item').tab();
    </script>
  </body>
</html>
