{% extends "base.html" %}
{% block content %}

<div class="ui container">
  <form class="ui form" method="POST" action="/result">
  <div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Fill in the blanks</a>
    <a class="item" data-tab="second">Template</a>
  </div>
  <div class="ui bottom attached active tab segment" data-tab="first">
      {% csrf-field %}
      <input type="hidden" name="wiki-link" value="{{wiki-link}}">
      {% for p in placeholders %}
      <div class="ui field">
        <label for="{{p.0}}">{{p.0}}</label>
        <input type="text" name="{{p.0}}" value="{{p.1}}">
      </div>
      {% endfor %}
      <div class="ui field">
        <input type="submit" class="ui button" value="Save!">
      </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <textarea rows="120" name="md">
      {{md}}
    </textarea>
  </div>
  </form>
</div>

{% endblock %}
