{% extends "base.html" %}
{% block content %}
<div class="ui container">
  <h1 class="ui header">ClojureBridge Berlin Template Filler</h1>

  <p class="ui section">
  Fill in a link to a Github wiki page. On the page you can use placeholders
  like <tt>&#123;{fill_me_in}}</tt>. On the next page you will be asked for values to fill
  in to these spots.
  </p>

  <form class="ui form" method="POST" action="/fill-in">
    {% csrf-field %}
    <div class="ui field">
      <label for="wiki-link">Github Wiki Page URL</label>
      <input type="text" name="wiki-link" placeholder="https://github.com/clojurebridge-berlin/organization/wiki/Text-for-Event-on-ClojureBridge.org">
    </div>
    <div class="ui field">
      <input type="submit" class="ui button" value="Save!">
    </div>
  </form>
</div>

{% endblock %}
